.repo-card {
  width: 20%;

  .repo-card-body {
    .repo-card-title {
      .repo-avatar {
        width: 30px;
        height: 30px;
      }
      .repo-name {
        color: inherit;
        padding: 0 10px;
      }
    }
    .repo-stats {
      .icon {
        padding: 0 20px;
      }
    }
    .text-muted {
      font-size: 0.9rem;
    }
  }
}
