@import url('https://fonts.googleapis.com/css?family=Heebo:500,700,900|Montserrat:300,400,500&display=swap');


.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34;
  min-height: 100vh;

  .header {
    font-family: 'Heebo', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 2% 0 0.5% 0;
    font-weight: 500;
    color: white;
  }
}
