@import url('https://fonts.googleapis.com/css?family=Heebo:900|Montserrat:300,400,500,700&display=swap');

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0.5% 0;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .nav-item {
      padding: 0 20px;

      .nav-link {
        text-decoration: none;
        color: white;
      }
      .active {
        color: #888;
        font-weight: 700;
      }
    }
  }
}
